@import './var';
@import './header.scss';
@import './footer.scss';
@import './content/home.scss';
@import './content//detail_resto.scss';
@import './responsive.scss';


/* Reset Tampilan */
body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100%;
    width: 100%;
}
/* End Reset */

a#skip {
    color: var(--white);
    background-color: var(--green-2);
    text-decoration: none;
    font-weight: bold;
    transform: translateY(-100%);
    position: absolute;

    &:focus {
        background-color: var(--green-2);
        z-index: 99;
        color: var(--black);
        padding: 1em;
        transform: translateY(0%);
    }
}

div.loading-page {
    margin: 10em auto;
    max-width: 90px;
    display: block;

    div.loader {
        border: 16px solid var(--white);
        border-top: 16px solid var(--green-2);
        border-radius: 50%;
        width: 90px;
        height: 90px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}