@media screen and (max-width: 649px) {
  header {
      .nav-menu {
          display: none;
      }
  }
}

/* md */
@media (min-width: 650px) {
  header {
      .button-menu, #drawer {
          display: none;
      }
  }

  div#home article#content div#restolist,
  div#detailresto div#reviews>div {
      grid-template-columns: repeat(2, 1fr);
  }

  div#detailresto {
    font-size: 110%;
  }
}

/* lg */
@media screen and (min-width: 969px) { 
  div#home article#content div#restolist,
  div#detailresto div#reviews>div {
      grid-template-columns: repeat(3, 1fr);
  }

  div#detailresto div#content {
    display: flex;

    div.leftside {
      min-width: 40%;

      img {
        padding: .5rem;   
      }
         
    }
  }
}